body {
    max-width: 60em;
    margin: auto;
    margin-bottom: 5em;
}

/* I'm pretty sure this tag existed at some point but was removed for some reason. */
nowrap {
    white-space: nowrap;
    font-family: monospace;
}

.m pre {
    displaz: block;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

tr>td:first-child {
    white-space: nowrap;
}

.tabs {
    margin: 1em 0;
}

.tabs>input[type="radio"],
.tabs>div>* {
    display: none;
}

.tabs>input[type="radio"],
.tabs>div {
    border: 1px solid;
    padding: 1em;
}

.tabs>nav>label {
    position: relative;
    top: 1px;
    margin-top: -1px;
    background-color: var(--rr-bgcolor);
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #999;
    border-bottom-color: var(--rr-color);
    color: var(--rr-color-rule-ref);
    cursor: pointer;
}

.tabs>input[type="radio"]:nth-of-type(1):checked~div> :nth-child(1),
.tabs>input[type="radio"]:nth-of-type(2):checked~div> :nth-child(2),
.tabs>input[type="radio"]:nth-of-type(3):checked~div> :nth-child(3),
.tabs>input[type="radio"]:nth-of-type(4):checked~div> :nth-child(4),
.tabs>input[type="radio"]:nth-of-type(5):checked~div> :nth-child(5),
.tabs>input[type="radio"]:nth-of-type(6):checked~div> :nth-child(6) {
    display: unset;
}

.tabs>input[type="radio"]:nth-of-type(1):checked~nav>label:nth-child(1),
.tabs>input[type="radio"]:nth-of-type(2):checked~nav>label:nth-child(2),
.tabs>input[type="radio"]:nth-of-type(3):checked~nav>label:nth-child(3),
.tabs>input[type="radio"]:nth-of-type(4):checked~nav>label:nth-child(4),
.tabs>input[type="radio"]:nth-of-type(5):checked~nav>label:nth-child(5),
.tabs>input[type="radio"]:nth-of-type(6):checked~nav>label:nth-child(6) {
    border-color: var(--rr-color);
    border-bottom-color: var(--rr-bgcolor);
    color: var(--rr-color);
    cursor: unset;
}

:root {
    --hover-color: red;
}

@media (prefers-color-scheme: dark) {
    :root {
        --hover-color: #F80;
    }
}

.m pre {
    color: var(--rr-color);
}

.ex1:hover~p .t1,
.ex2:hover~p .t2,
.ex3:hover~p .t3,
.ex4:hover~p .t4,
.ex5:hover~p .t5,
.ex6:hover~p .t6,
.ex7:hover~p .t7,
.ex8:hover~p .t8,
.ex9:hover~p .t9,
.exA:hover~p .tA,
.exB:hover~p .tB,
.exC:hover~p .tC,
.exD:hover~p .tD,
.exE:hover~p .tE {
    --rr-color: var(--hover-color);
}

:root:has(.ex1:hover) .ex1,
:root:has(.ex2:hover) .ex2,
:root:has(.ex3:hover) .ex3,
:root:has(.ex4:hover) .ex4,
:root:has(.ex5:hover) .ex5,
:root:has(.ex6:hover) .ex6,
:root:has(.ex7:hover) .ex7,
:root:has(.ex8:hover) .ex8,
:root:has(.ex9:hover) .ex9,
:root:has(.exA:hover) .exA,
:root:has(.exB:hover) .exB,
:root:has(.exC:hover) .exC,
:root:has(.exD:hover) .exD,
:root:has(.exE:hover) .exE,
:root:has(.t1:hover):not(:has(.t1 > :hover)) .ex1,
:root:has(.t2:hover):not(:has(.t2 > :hover)) .ex2,
:root:has(.t3:hover):not(:has(.t3 > :hover)) .ex3,
:root:has(.t4:hover):not(:has(.t4 > :hover)) .ex4,
:root:has(.t5:hover):not(:has(.t5 > :hover)) .ex5,
:root:has(.t6:hover):not(:has(.t6 > :hover)) .ex6,
:root:has(.t7:hover):not(:has(.t7 > :hover)) .ex7,
:root:has(.t8:hover):not(:has(.t8 > :hover)) .ex8,
:root:has(.t9:hover):not(:has(.t9 > :hover)) .ex9,
:root:has(.tA:hover):not(:has(.tA > :hover)) .exA,
:root:has(.tB:hover):not(:has(.tB > :hover)) .exB,
:root:has(.tC:hover):not(:has(.tC > :hover)) .exC,
:root:has(.tD:hover):not(:has(.tD > :hover)) .exD,
:root:has(.tE:hover):not(:has(.tE > :hover)) .exE,
.t1:hover:not(:has(>:hover)),
.t2:hover:not(:has(>:hover)),
.t3:hover:not(:has(>:hover)),
.t4:hover:not(:has(>:hover)),
.t5:hover:not(:has(>:hover)),
.t6:hover:not(:has(>:hover)),
.t7:hover:not(:has(>:hover)),
.t8:hover:not(:has(>:hover)),
.t9:hover:not(:has(>:hover)),
.tA:hover:not(:has(>:hover)),
.tB:hover:not(:has(>:hover)),
.tC:hover:not(:has(>:hover)),
.tD:hover:not(:has(>:hover)),
.tE:hover:not(:has(>:hover)) {
    --rr-color: var(--hover-color);
}

tr:empty {
    height: 1.2em;
}